@charset "utf-8";
/* CSS Document */

#middle {
	padding: 30px 0 0;
	background: #fff;
	min-height: 620px;
	overflow-x: hidden;
	overflow-y: auto;
}

#content-alt {
	float:left;
	padding: 15px 35px 30px 30px; 
	width:360px;
	font: Arial, Helvetica, sans-serif;
	color: #333;
	border-right: 1px #B3B3B3 solid;
	background: #fff;
}

#content-alt h1 {
	font: 22px/28px Arial, Helvetica, sans-serif;
	font-weight: bold;
	margin-bottom: .5em;
}

#content-alt p {
	font: 12px/18px Arial, Helvetica, sans-serif;
	margin-bottom: 1em;
}

#newsBox h1 {
	font: 18px/22px Georgia, "Times New Roman", Times, serif; 
	color: #5a5859; 
	font-weight: normal; 
	margin: 5px 10px 22px 0px;
}
#newsBox ul { 
	font: 13px/18px Arial, Helvetica, sans-serif; 
	color:#333;
	padding-left: 2em;
	margin-top: -1em;
}
#newsBox li {
	margin-bottom: 1em;
}
#newsBox p.date { 
	font: 11px/15px Arial, Helvetica, sans-serif;
	color: #999;
	border-left: 1.25em #ccc solid; 
	margin-left: -1.75em;
	padding-left: .5em;
}
#newsBox a {
	font-weight: bold;
}

/*--------------- Anything Slider ------------------ */

/*
    anythingSlider v1.3
    
    By Chris Coyier: http://css-tricks.com
    with major improvements by Doug Neiner: http://pixelgraphics.us/
    based on work by Remy Sharp: http://jqueryfordesigners.com/
*/
.anythingSlider { 
	background: #fff url(/img/slides/slidebg.png) no-repeat; 
	border-bottom: 1px #B3B3B3 solid; 
	float:left; 
	height: 375px; 
	margin: 45px 30px 0px 30px; 
	position: relative; 
	width: 528px; 
}
.anythingSlider .wrapper { 
	border-bottom: 3px solid #e0a213;  
	overflow: auto; 
	height: 325px; 
	position: absolute; 
		top: 0; 
		left: 4px; 
	width: 520px; 
}

.anythingSlider .wrapper ul { 
	border-top: 3px solid #e0a213;
	list-style: none; 
	margin: 0; 
	position: absolute; 
		top: 0; 
		left: 0; 
	width: 32700px; /* Width is max for Opera */
}
.anythingSlider .wrapper ul li { 
	display: block; 
	float: left; 
	height: 325px; 
	margin: 0; 
	overflow: hidden; /* new */
	padding: 0; 
	width: 520px; 
}

.slideCaption { 
	display: block; 
	width: 520px; 
	height: 325px; 
	padding-top: 250px;  
}
	.slideCaption h1 { 
		color: #fff; 
		font: 18px/22px Georgia, "Times New Roman", Times, serif; 
		font-weight: normal; 
		margin: 5px 10px 0 10px; 
	}
	.slideCaption p { 
		color:#fff; 
		font: 13px/18px Arial, Helvetica, sans-serif; 
		font-weight: normal; 
		margin: 0 10px; 
	}
	.slideCaption em { 
		color: #fff; 
	}
	.slideCaption a, .slideCaption a:visited { 
		color: #e0a213; 
		font-weight:bold; 
		text-decoration: underline; 
	}
	.slideCaption a:hover { 
		color: #FF0; 
		text-decoration: underline; 
	}

.anythingSlider .arrow { 
	display: block; 
	height: 200px; 
	width: 67px; 
	background: url(/img/slides/slider-arrows.png) no-repeat 0 0; 
	text-indent: -9999px; 
	position: absolute; 
		top: -250px; 
	cursor: pointer; }
	
.anythingSlider .forward { 
	background-position: 0 0; 
	right: -47px; 
}
.anythingSlider .back { 
	background-position: -67px 0; 
	left: -67px; 
}
.anythingSlider .forward:hover { 
	background-position: 0 -200px; 
}
.anythingSlider .back:hover { 
	background-position: -67px -200px; 
}

.thumbNav { 
	position: relative; 
		top: 325px; 
		left: 10px; 
}
.thumbNav li { 
	display: inline; 
}
.thumbNav a { 
	background: #c58b04 url(/img/cellshade.png) repeat-x; 
	border-radius: 0 0 5px 5px;
	  -moz-border-radius-bottomleft: 5px; 
	  -moz-border-radius-bottomright: 5px; 
	  -webkit-border-bottom-right-radius: 5px; 
	  -webkit-border-bottom-left-radius: 5px; 
	color: black; 
	display: inline-block; 
	font: 11px/18px Verdana, Geneva, sans-serif; 
	height: 18px; 
	margin: 3px 5px 0 0; 
	padding: 2px 8px; 
	text-align: center; 
}
.thumbNav a:hover { 
	background-image: none; 
}
.thumbNav a.cur { 
	background: #e0a213; 
}

.start-stop { 
	background: green url(/img/cellshade.png) repeat-x; 
	border-radius: 0 0 5px 5px;
		-moz-border-radius-bottomleft: 5px; 
		-moz-border-radius-bottomright: 5px; 
		-webkit-border-bottom-right-radius: 5px; 
		-webkit-border-bottom-left-radius: 5px; 
	color: white !important; 
	font: 11px/18px Verdana, Geneva, sans-serif; 
	padding: 2px 5px; 
	position: absolute; 
		right: 10px; 
		top: 328px; 
/*	width: 40px; */
	text-align: center; 
	z-index:10; 
}
.start-stop.playing { 
	background-color: #a53108; 
}
.start-stop:hover { 
	background-image: none; 
	color:#fff; 
}

/*
  Prevents
*/
.anythingSlider .wrapper ul ul { 
	background: none; 
	border: 0; 
	margin: 0; 
	position: static; 
	overflow: visible; 
	width: auto; 
}
.anythingSlider .wrapper ul ul li { 
	background: none; 
	float: none; 
	height: auto; 
	width: auto; 
}