@charset "utf-8";
/* CSS Document */

#NIH-banner							{	background:url(http://humanconnectome.org/consortia/img/NIH-banner-bg.png) repeat-x; 
										height:56px; margin:auto 0; padding:0; z-index:1000; }
#NIH-banner ul						{	list-style:none; margin:0; padding:0; display:block; height:56px; overflow:hidden; }
#NIH-banner li						{	position:relative; float:left; display:block; padding:3px; margin:0 1px;	}
#NIH-banner li.here					{	background:#24942E;	}
#NIH-banner li:hover				{	background:#2AAD36;	}
#NIH-banner img						{	border:none; }
