@charset "utf-8";
/* CSS Document */

.sortable { font-family: Arial, sans-serif; font-size: 11px; -moz-user-select: none; -khtml-user-select: none; user-select: none; width: 100%; CURSOR: default; }
.sortable th#hoverTH { background: #555; }
.sortable th { TEXT-ALIGN: left; PADDING: 4px 0 4px 9px; BACKGROUND: #666; BORDER-BOTTOM: 1px solid #444; BORDER-TOP: 1px solid #444; BORDER-LEFT: 1px solid #555; COLOR: #FFF; CURSOR: pointer; }
.sortable tr#this td { background-color: #3d80df; color: #FFF; font-weight: bold; border-left: 1px solid #346DBE; border-bottom: 1px solid #3E6FB3; border-top: 1px solid #3E6FB3; BORDER-RIGHT: 1px solid #5886C7; }
.sortable tr#hover td { background-color: #777; color: #FFF; border-left: 1px solid #888; border-bottom: 1px solid #888; border-top: 1px solid #888; BORDER-RIGHT: 1px solid #777; }
.sortable tr td, .sortable tr.even td { padding: 3px 8px; border: 1px solid #D9D9D9; }
.sortable tr.even td { BACKGROUND: #edf3fe; BORDER-BOTTOM: 1px solid #D9D9D9; BORDER-TOP: 1px solid #E8F0FF;  }
.sortable tr.odd td { BACKGROUND: #FFF; BORDER-BOTTOM: 1px solid #FFF; BORDER-TOP: 1px solid #FFF; }
.sortable tr.hidden { display: none; }